@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá, seja bem-vindo!</h1>
    <p>Sou a Lívia! </p>
    <p>Fiz esse site pra compartilhar meus estudos e projetos pessoais, os quais estou fazendo pra aplicar o conhecimento adiquirido através dos meus estudos e do meu dia de trabalho, vou deixar meu Git caso queira acompanhar meus projetos.</p>
    <span>Meu Github é :</span>
</div>
