@{
    ViewData["Title"] = "Privacidade";
}

<p>Minha carreira.</p>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Sou estagiária de TI na área de programação.         
            Tenho conhecimento e experiência de nível básico em: .Net, SQL Server e MVC que são as ferramentas com as quais eu trabalho. 
            Atualmente faço cursos pra aprimorar meu conhecimento na tecnologia e são todos pela internet, também curso aulas particulares de inglês.
        </p>
    </div>
</div>